$BrightBlue:hsl(220, 98%, 61%);
$bodyBackgroud:  linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue:hsl(235, 24%, 19%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$veryLightgray: hsl(0, 0%, 98%);
$VeryDarkGrayishBlue:hsl(233, 14%, 35%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(233, 11%, 84%);
$DarkGrayishBlue: hsl(236, 9%, 61%);
$VeryDarkGrayishBlue: hsl(235, 19%, 35%)